In [1]:
from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

In [19]:
page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title_element = soup2.find('h1', class_='ui-pdp-title')
if title_element:
    Product_title = title_element.get_text().strip()
else:
    Product_title = 'Title not found'

print("Product_Title:", Product_title)

Product_Title: Heladera no frost Philco 94PHSB555XT plateada con freezer 555L 220V

In [27]:
price_fraction_element = soup2.find('span', class_='andes-money-amount__fraction')
if price_fraction_element:
    price = price_fraction_element.get_text().strip()
else:
    price = 'Price  not found'

In [28]:
print("Price :", price_fraction)

Price : 1.065.624

In [29]:

title = title.strip()

print(title)
print(price)

Heladera no frost Philco 94PHSB555XT plateada con freezer 555L 220V
1.065.624

In [30]:
import datetime

today = datetime.date.today()

In [31]:
import csv 

header = ['Title', 'Price', 'Date']
data = [title, price, today]


with open('Meli.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [33]:
import pandas as pd

In [35]:
df = pd.read_csv(r'C:\Users\Widows10\Desktop\Meli.csv')

In [36]:
print(df)

                                               Title      Price        Date
0  Heladera no frost Philco 94PHSB555XT plateada ...  1.065.624  2023-09-03

In [37]:
with open('Meli.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [40]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Widows10\Desktop\Meli.csv.')

print(df)

                                               Title      Price        Date
0  Heladera no frost Philco 94PHSB555XT plateada ...  1.065.624  2023-09-03

In [42]:
print(df.head())

                                               Title      Price        Date
0  Heladera no frost Philco 94PHSB555XT plateada ...  1.065.624  2023-09-03

In [43]:
df.describe()

,Title,Price,Date
count,1,1,1
unique,1,1,1
top,Heladera no frost Philco 94PHSB555XT plateada ...,1.065.624,2023-09-03
freq,1,1,1